.service-hero-text h1 {
    font-weight: 700;
    font-size: 46px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.service-hero-text h1 span {
    -webkit-text-stroke: 1px black;
    color: transparent;
}

.service-hero-text p {
    font-size: 18px;
}

.service-hero-img {
    height: 30rem;
    border-radius: var(--border-20);
    overflow: hidden;
}

.service-hero-img img {
    object-fit: cover;
    padding: 10px;
    border: 3px dashed var(--accent-10);
    border-radius: var(--border-20);
}

/* Services-details */
.service-card {}

.service-card h2 {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 10px;
}

.service-card h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
}

.service-card ul {
    list-style-type: disc;
    padding-left: 2rem
}

.service-card li {
    margin: 10px 0;
}

.service-card p span {
    font-weight: 600;
}

.service-img img {
    object-fit: cover;
    border-radius: var(--border-20);
}

/* Services skills */
.steps i {
    font-size: 60px;
    font-weight: 400;
    color: var(--accent-10);
}

.steps h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--subtitle-color);
    margin: 20px 0;
}