/* ===================================== */
/* HERO INFORMATION */
.hero-alignments {
    margin-bottom: 5rem;
}

.hero-card {
    border-radius: var(--border-20);
    padding: var(--card-padding);
    text-align: center;
    height: 100%;
}

.hero-card img {
    padding: 10px;
    border: 3px dashed var(--accent-10);
    border-radius: 100%;
}

.hero-name h1 {
    font-size: 48px;
    margin-bottom: 8px;
    font-weight: 600;
}

.hero-right {
    background-color: white;
    border-radius: var(--border-20);
    padding: var(--card-padding);
}

.hero-information h1 {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 16px 0 20px 0;
}

.hero-information h1 span {
    -webkit-text-stroke: 1px black;
    color: transparent;
}

.hero-information p span {
    color: var(--accent-10);
    margin-right: 10px;
}


/* amination text */
.animated-text {
    overflow: hidden;
    background-color: white;
    border-radius: var(--border-20);
    padding: var(--card-padding);
    margin-top: 40px;
}

.keypoints-animation span {
    width: max-content !important;
}

.keypoints-animation span h3 {
    width: max-content;
}

.keypoints-animation span {
    display: flex;
    align-items: center;
    animation: animate 40s infinite linear;
}

@keyframes animate {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* ===================================== */
/* Personal Information */

.experience-padding {
    margin-top: 30px;
}

.info-title h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.experience-card {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    padding: 30px 0;
    border-bottom: 1px solid var(--border-color);
}

.experience-icon {
    width: 50px;
    height: 50px;
    background-color: #F9F9F9;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience-icon i {
    font-size: 20px;
    color: var(--accent-10);
}

.experience-text h5 {
    font-size: 16px;
    color: #444;
}

.experience-text h5 span {
    font-weight: 600;
}

.experience-text .span-tag {
    font-size: 14px;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 26px;
    background-color: var(--accent-10);
    color: var(--secondary-30);
    display: inline-block;
    margin-left: 10px;
}

.experience-text h2 {
    font-size: 20px;
    color: #444;
    font-weight: 600;
    margin: 20px 0px;
}

/* ===================================== */
/* Skills */

.skills-gap {
    margin: 100px 0;
}

.language-details {
    border: 1px solid var(--border-color);
    border-radius: var(--border-20);
    padding: 30px
}

.language-details img {
    width: 7rem;
}

.language-details h3 {
    font-size: 22px;
    color: #444444;
    margin: 30px 0 5px 0;
}

.language-details p {
    margin-bottom: 15px;
}

.language-details h5 {
    font-size: 16px;
    border-radius: var(--border-10);
    background-color: var(--accent-10);
    color: white;
    font-weight: 600;
    padding: 10px 0;
}

/* ===================================== */
/* Projects */
.project-info {
    border: 1px solid var(--border-color);
    border-radius: var(--border-20);
    padding-bottom: 20px;
    overflow: hidden;
    height: 100%;
}

.project-img {
    overflow: hidden;
    height: 17rem;
}

.project-img img {
    transform: scale(1);
    transition: var(--transition);
    cursor: pointer;
}

.project-img img:hover {
    transform: scale(1.2);
}

.project-text {
    padding-left: 20px;
    margin-top: 20px;
}

.project-text h3 a {
    font-size: 20px;
    font-weight: 600;
    color: var(--subtitle-color);
    margin-bottom: 10px;
    display: inline-block;
}

.project-text h3 a i {
    font-size: 18px;
    font-weight: 400;
}

/* ===================================== */
/* Contact */
.form-left {
    height: 100%;
    padding: 50px 30px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-10);
}

.form-ref i {
    color: var(--accent-10);
    font-size: 22px;
    font-weight: 400;
}

.form-ref h5 {
    font-size: 18px;
    color: var(--subtitle-color);
    font-weight: 600;
}

.form-ref a {
    color: #555;
    font-weight: 400;
    margin-left: 32px;
    transition: var(--transition);
}

.form-ref a:hover {
    color: var(--accent-10);
}

form input,
form textarea {
    width: 100%;
    margin-bottom: 1rem;
    outline: none;
    border: 1px solid var(--border-color);
    padding: 10px 20px;
    border-radius: 6px;
    transition: var(--transition);
}

.submit {
    background-color: var(--accent-10);
    border: 2px solid var(--accent-10);
    color: white;
    font-weight: 600;
}

.submit:hover {
    background-color: white;
    color: var(--subtitle-color);
}

form input:focus-visible,
form textarea:focus-visible {
    outline: none;
    border: 1px solid var(--accent-10);
}