@media screen and (max-width: 1200px) {
    .hero-name-field h3 {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 992px) {
    .hero-info {
        position: relative;
    }

    .hero-name-field h3 {
        position: relative;
        z-index: 1;
    }

    .hero-img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        width: 100%;
        cursor: none;
    }

    .hero-img::before {
        width: 60%;
        height: 80%;
        top: 10%;
        bottom: 17%;
        left: 20%;
        right: 17%;
    }

    .hero-field,
    .hero-name {
        position: relative;
        z-index: 2;
    }
}

@media screen and (max-width: 768px) {

    .hero-name-field h3 span {
        -webkit-text-stroke: 1px black;
    }

    .hero-img,
    .hero-name,
    .hero-field,
    .hero-name-field {
        height: 100% !important;
    }

    .hero-img {
        display: block;
        position: relative;
    }

    .hero-img::before {
        width: 60%;
        height: 85%;
        top: 5%;
        left: 20%;
    }

    .hero-img,
    .hero-img img {
        height: 30rem;
    }
}

@media screen and (max-width: 425px) {
    .hero-img::before {
        width: 80%;
        height: 85%;
        top: 5%;
        left: 10%;
    }
}

@media screen and (max-width: 375px) {
    .hero-img::before {
        width: 91%;
        height: 70%;
        top: 15%;
        left: 5%;
    }

    .hero-name-field h3 {
        font-size: 27px;
    }

    .hero-img,
    .hero-img img {
        height: 25rem;
    }
}