@media screen and (max-width: 1200px) {
    :root {
        --card-padding: 30px;
    }

    .hero-name h1 {
        font-size: 37px;
    }
}

@media screen and (max-width: 992px) {
    :root {
        --buttons-padding: 6px 12px;
    }

    .hero-name h1 {
        margin-top: 0;
    }

    .experience-text br {
        display: none;
    }

    .language-details {
        padding: 20px 15px;
    }

    .form-left {
        height: 100%;
        padding: 30px;
    }

    .cta-content br {
        display: none;
    }

    #copyright p {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {

    .experience-text br {
        display: block;
    }

    .hero-card img {
        padding: 5px;
    }

}

@media screen and (max-width: 576px) {

    .hero-name h1 {
        font-size: 36px;
    }

    .hero-information h1 {
        font-size: 36px;
    }


    .experience-card {
        flex-direction: column;
        text-align: center;
    }

    .info-title h2 {
        text-align: center;
    }

    .language-details img {
        width: 5rem;
    }

}

@media screen and (max-width: 425px) {

    :root {
        --card-padding: 20px;
    }

    .hero-information h1 {
        font-size: 28px;
    }

    .hero-name h1 {
        font-size: 28px;
    }

    .section-title h2 {
        font-size: 27px;
    }

    .project-img {
        height: auto;
    }

    .form-left {
        padding: 20px;
    }

    .form-ref h5 {
        font-size: 16px;
    }

}