@media (max-width: 1400px) {
    .project-text ul {
        margin-top: 35px;
    }

    .project-text h2 {
        margin: 20px 0 5px 0;
    }
}

@media (max-width: 1400px) {
    .section-card {
        height: 100%;
    }

    .section-card img {
        object-fit: cover;
    }
}

@media (max-width: 1400px) {
    :root {
        --card-padding: 20px;
    }

    .project-text i {
        font-size: 26px;
        width: 40px;
        height: 40px;
    }

    .project-text h2 {
        font-size: 28px;
    }

    .cta-content br {
        display: none;
    }
}

@media (max-width: 768px) {

    .tab-text h2 {
        font-size: 22px;
    }

    .tab-text p {
        font-size: 14px;
    }

    .cta-link {
        margin-top: 20px;
        padding: 10px 15px;
    }

    .tab-img img {
        height: 15rem;
    }
}

@media (max-width: 576px) {
    .tab-img img {
        height: 15rem;
    }
}