@media screen and (max-width: 1200px) {
    .service-hero-text h1 {
        font-size: 42px;
    }

    .service-hero-text p {
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {
    .service-hero-img {
        height: 30rem;
    }
}

@media screen and (max-width: 768px) {
    .service-hero-text h1 {
        font-size: 38px;
    }

    .service-hero-img {
        height: 25rem;
    }
}

@media screen and (max-width: 575px) {
    .service-hero-text h1 {
        font-size: 28px;
    }

    .service-hero-img {
        height: 100%;
    }
}